/* font Tempus sans ITC */
/* @font-face {
  font-family: "Tempus Sans ITC"; 
  src: url("//db.onlinewebfonts.com/t/261506be3344b3806eefa054f0f6fbf1.eot"); 
  src: url("//db.onlinewebfonts.com/t/261506be3344b3806eefa054f0f6fbf1.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/261506be3344b3806eefa054f0f6fbf1.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/261506be3344b3806eefa054f0f6fbf1.woff") format("woff"), url("//db.onlinewebfonts.com/t/261506be3344b3806eefa054f0f6fbf1.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/261506be3344b3806eefa054f0f6fbf1.svg#Tempus Sans ITC") format("svg"); 
} */

/* body{
  font-family: Tempus Sans ITC,Arial, Helvetica, sans-serif;
} */


/* Font diiférente sur les boutons mais pas sur le badge : rock_boulderregular-Font */
@font-face {
  font-family: 'rock_boulderregular';
  src: url('fonts/rockboulder-webfont.woff2') format('woff2'),
       url('fonts/rockboulder-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
button {
  all: unset;
  font-family: 'rock_boulderregular';
}
.badge {
  font-family: initial;
}

/* Positionnement image d'arrière plan */
#background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.7;
}



/* Gestion taille du texte */
.sfont {
  font-size: 10px;
}
@media all and (min-device-width: 400px)
{
  .sfont {
    font-size: 15px;
  }
}
@media all and (min-device-width: 800px)
{
  .sfont {
    font-size: 20px;
  }
}

.icon {
  position: relative;
  bottom: 0px;
  max-width: 90px;
}

.popup {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.dice {
  position: absolute;
  left: 44%;
  top: 20%;
  width: 15%;
  /* z-index: 2; */
}